body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.style{
    border-radius: 40px;
    background-color: #fff700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 150px;
    border: 30px solid #fe3b52; 
}

.zeit {
    background-color: #fe3b52;
    width: 150px;
    margin: 5px;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 5px;
    text-align: center;
}

button {
    font-family: impact;

    background-color: #fe3b52;
    color: #ffff;
    padding: 5px;
    width: 100px;
    margin: 5px 25px;
    border-radius: 5px;
    border: 3px solid #fe3b52; 
    font-size: 15px;
    box-shadow: rgba(143, 0, 0, 0.258) 0px 2px 4px 0px inset;}
